.banner{
    height: 750px !important;
}

.produto{
    height: 500px !important;
}

.dropa{
    width: 200px !important;
}

.nave{
    background-color: aquamarine !important;
}

.foter{
    background-color: rgb(103, 100, 100) !important;
}

.na2{
    background-color: chocolate !important;
}